# Ignorar archivos generados de pruebas
log.html
output.xml
report.html 
test_bundle.zip
/env
/wheelhouse
interactive_console_output.xml
.DS_Store
:DEVICE_NAME
PP_PATH
UTOMATION_NAME"# Ignorar archivos relacionados con Legal Guidance" 
"tests/legal_guidance_flow.robot" 
"resources/android/variables/user_legal_guidance.robot" 
"resources/android/keywords/legal_guidance_keywords.robot" 
